<!-- main app container -->
<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <!--this is a place for us to add side-nav code-->
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header *ngIf='show'></app-header>
        <main>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2">
                        <alert></alert>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://jasonwatmore.com/post/2018/05/16/angular-6-user-registration-and-login-example-tutorial" target="_top">Angular 6 User Jogging Track Tutorial</a>
    </p>
    <p>
        <a href="http://jasonwatmore.com" target="_top">Russian Federation.com</a>
    </p>
</div>